<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Write, Execute, Script" />
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="illiad.dll" />
                <add value="Logon.html" />
            </files>
        </defaultDocument>
        <httpErrors>
            <clear />
            <error statusCode="403" subStatusCode="4" path="https://requests.lib.uchicago.edu/illiad/" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
