/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *    @include respond-to(medium) { ... }
 *    @include respond-to(large) { ... }
 */
@media print {
  @page {
    size: 330mm 427mm;
    margin: 1cm; }
  a[href]:after {
    content: none !important; }
  .container {
    width: 1170px; }
  .navbar, #footer {
    display: none; }
  body {
    overflow: visible !important; }
  div.container, div.container-fluid {
    margin: none;
    padding: none; }
  div.row, div.row-fluid {
    margin: none;
    padding: none; }
  h2, h3, h4, h5, h6 {
    page-break-after: avoid; }
  /*img {
       max-width: 100% !important;
    }*/
  ul, img {
    page-break-inside: avoid; } }

/*
 * Colors
 * --------------------------------------------------
 */
/*
 * Main Navbar
 * --------------------------------------------------
 */
@media (min-width: 48em) {
  .fluid-top {
    padding: 0px; } }

.navbar-brand {
  max-width: 250px;
  padding: 5px 15px 25px 15px; }
  @media (min-width: 48em) {
    .navbar-brand {
      max-width: 275px;
      padding-top: 15px; } }
  @media (min-width: 62em) {
    .navbar-brand {
      max-width: 350px;
      padding: 7px 15px 25px 35px; } }

@media (min-width: 62em) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: 15px; } }

.navbar-default {
  border: 0px;
  background-repeat: repeat;
  background-color: #800000;
  z-index: 10;
  border-radius: 0; }
  .navbar-default .navbar-brand img {
    max-width: 250px; }
    @media (min-width: 48em) {
      .navbar-default .navbar-brand img {
        max-width: 275px; } }

#navbar {
  background-color: #670000;
  font-size: 1.1em;
  padding-left: 0.5em; }
  @media (min-width: 48em) {
    #navbar {
      margin-top: 60px; } }
  #navbar .navbar-nav {
    float: left; }
    @media (min-width: 48em) {
      #navbar .navbar-nav {
        float: right; } }
    #navbar .navbar-nav > li > a {
      color: #eee;
      padding: 10px; }
      #navbar .navbar-nav > li > a:hover {
        color: #fff;
        background-color: #642822; }
      #navbar .navbar-nav > li > a:focus {
        color: #fff; }

/*
 * Custom Styles
 * --------------------------------------------------
 */
.holdings-locpanel {
  padding: 0;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  max-width: 60em; }
  .holdings-locpanel h1 {
    font-size: 17px;
    line-height: 17px;
    margin: 0.5em 0;
    border: none; }
  .holdings-locpanel h2 {
    font-size: 1em;
    color: #670000;
    margin: 0  0 0.5em 0;
    border-bottom: 1px solid #ddd; }
  .holdings-locpanel h3 {
    font-size: 1.1em;
    color: #634d4c;
    line-height: 17px;
    margin: 0 0 0.5em 0; }
  .holdings-locpanel a {
    color: #437e9b; }
  .holdings-locpanel .locpanel-heading {
    margin-bottom: 0;
    padding: 0.5em 0 0.5em 1em; }
    .holdings-locpanel .locpanel-heading.getit {
      background-color: #f4e6d0; }

.findit-wrap {
  padding-top: 1em !important;
  padding-bottom: 3em !important;
  min-height: 100%;
  margin-bottom: -50em; }
  .findit-wrap input[type="submit"] {
    margin: 0.5em 2em 2em;
    display: block;
    background-color: #670000;
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    line-height: 0.45em;
    border: none; }
    .findit-wrap input[type="submit"]:hover {
      color: #000;
      background-color: #c89d9a; }

/*
 * Form items
 * --------------------------------------------------
 */
fieldset, section {
  padding: 1em 2em;
  margin-left: 0; }
  fieldset label, section label {
    padding-top: 0.75em;
    display: block; }
  fieldset input#notes, section input#notes {
    width: 30em; }

.fineprint {
  font-size: 0.85em; }

/*# sourceMappingURL=catmim.css.map */
