@charset "UTF-8";
/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *    @include respond-to(medium) { ... }
 *    @include respond-to(large) { ... }
 */
@media print {
  @page {
    size: 330mm 427mm;
    margin: 1cm; }
  a[href]:after {
    content: none !important; }
  .container {
    width: 1170px; }
  .navbar, #footer {
    display: none; }
  body {
    overflow: visible !important; }
  div.container, div.container-fluid {
    margin: none;
    padding: none; }
  div.row, div.row-fluid {
    margin: none;
    padding: none; }
  h2, h3, h4, h5, h6 {
    page-break-after: avoid; }
  /*img {
       max-width: 100% !important;
    }*/
  ul, img {
    page-break-inside: avoid; } }

/*
 * Colors
 * --------------------------------------------------
 */
/*
 * Global
 * --------------------------------------------------
 */
body {
  padding-top: 50px;
  font-family: 'ProximaNova-Regular', "Arial", sans-serif; }
  @media (min-width: 48em) {
    body {
      padding-top: 100px;
      padding-bottom: 3em; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.alert {
  padding: 0.5em 1em; }

@media (min-width: 62em) {
  .main-container {
    margin-top: 1.5em; } }

a {
  color: #437e9b; }
  a.menuClone:before {
    color: #6ba4bf;
    content: "\f0c5";
    font-family: FontAwesome;
    font-size: 1.2em;
    margin: 0 0.5em; }
  a.menuEdit[href^="illiad.dll?Action=20&Form=63"] {
    margin-right: 0.5em; }
    a.menuEdit[href^="illiad.dll?Action=20&Form=63"]:before {
      color: #6ba4bf;
      content: "\f044";
      font-family: FontAwesome;
      font-size: 1.2em;
      margin-right: 0.5em; }
  a.menuEdit[href^="illiad.dll?Action=21&Type=10"] {
    margin-right: 0.5em; }
    a.menuEdit[href^="illiad.dll?Action=21&Type=10"]:before {
      color: #6ba4bf;
      content: "\f05e";
      font-family: FontAwesome;
      font-size: 1.2em;
      margin: 0 0.5em; }

.statusNormal {
  color: #000 !important; }

/*
 * Fonts
 * --------------------------------------------------
 */
h1 {
  font-size: 1.7em;
  color: #525252;
  margin-bottom: 0.5em;
  padding-left: 0.25em;
  border-bottom: 1px solid #eee; }

h2 {
  font-size: 1.3em;
  color: #634d4c;
  line-height: 17px;
  margin: 1em 0 0.5em 0.5em; }
  h1 + h2 {
    margin-top: 1.3em; }

h3 {
  font-size: 1.3em; }
  #sidebar h3 {
    font-size: 1em;
    font-weight: 600;
    color: #4c3b3a;
    padding-left: 1em;
    margin-bottom: 5px;
    line-height: 1.4em; }

h4 {
  font-weight: 600;
  color: #4c3b3a; }

h5 {
  font-size: 1.2em;
  color: #670000;
  margin: 1em 0 0 0.35em;
  font-style: italic; }
  h5 + h6 {
    margin-top: 0.5em; }

h6 {
  font-size: 1.3em;
  margin: 1.3em 0 0.5em 0;
  border-bottom: 1px solid #eee; }

.material-icons {
  color: #909090;
  vertical-align: bottom;
  font-size: 1.5em; }

.copyright {
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
  margin-bottom: 1em; }
  .copyright p {
    font-size: 0.9em; }

/*
 * Main Navbar
 * --------------------------------------------------
 */
@media (min-width: 48em) {
  .fluid-top {
    padding: 0px; } }

.navbar-default .navbar-brand {
  padding: 10px; }
  .navbar-default .navbar-brand img {
    max-width: 7em;
    padding: 0 3px 10px 5px;
    display: inline-block; }
    @media (min-width: 48em) {
      .navbar-default .navbar-brand img {
        max-width: 10em;
        padding: 0 3px 15px 10px; } }
  .navbar-default .navbar-brand span {
    font-size: 1.3em;
    color: #fff;
    display: inline-block;
    font-family: ProximaNovaT-Thin;
    font-weight: 100; }
    @media (min-width: 48em) {
      .navbar-default .navbar-brand span {
        font-size: 2em; } }

@media (min-width: 62em) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: 15px; } }

.navbar-default {
  border: 0px;
  background-repeat: repeat;
  background-color: #800000;
  z-index: 10;
  border-radius: 0; }

#navbar {
  background-color: #670000;
  font-size: 1.1em;
  padding-left: 0.5em; }
  @media (min-width: 48em) {
    #navbar {
      margin-top: 60px; } }
  #navbar .navbar-nav {
    float: left; }
    @media (min-width: 48em) {
      #navbar .navbar-nav {
        float: right; } }
    #navbar .navbar-nav > li > a {
      color: #eee;
      padding: 0.4em;
      font-size: 0.9em; }
      #navbar .navbar-nav > li > a:last-child {
        padding-right: 3em; }
      #navbar .navbar-nav > li > a:hover {
        color: #fff;
        background-color: #642822; }
      #navbar .navbar-nav > li > a:focus {
        color: #fff; }

/*
 * Left Sidebar
 * --------------------------------------------------
 */
#sidebar {
  background: #ddd; }
  @media (min-width: 48em) {
    #sidebar {
      margin-left: -1em; } }
  @media (min-width: 62em) {
    #sidebar {
      padding-right: 2em;
      background-color: #fff; } }
  #sidebar .list-group .list-group-item.active {
    background-color: #806362;
    border-color: #806362; }

.btn-sidebar {
  background: #ddd;
  color: #767676;
  position: absolute;
  left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0;
  margin-top: -0.9em;
  z-index: 1000;
  background-color: rgba(210, 205, 204, 0.9);
  box-shadow: 0px 2px 7px #767676; }
  @media (min-width: 48em) {
    .btn-sidebar {
      margin-left: -1em; } }
  .btn-sidebar a {
    color: #767676; }

.sidebar-group {
  border-radius: 4px;
  padding: 20px 15px 10px;
  margin-bottom: 25px;
  border: 1px solid #ddd; }

/* Off Canvas (Sidebar Mobile Toggle) */
@media screen and (max-width: 986px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }
  .row-offcanvas-right {
    right: 0; }
    .row-offcanvas-right .sidebar-offcanvas {
      right: -50%;
      /* 6 columns */ }
    .row-offcanvas-right.active {
      right: 50%;
      /* 6 columns */ }
  .row-offcanvas-left {
    left: 0;
    min-height: 900px; }
    .row-offcanvas-left .sidebar-offcanvas {
      left: -50%;
      /* 6 columns */ }
    .row-offcanvas-left.active {
      left: 50%;
      /* 6 columns */ }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */ }
  .toggle-side {
    padding-bottom: 5px; } }

/*
 * Search Box
 * --------------------------------------------------
 */
.f-submit {
  background: #725857;
  color: #fff; }
  .f-submit:hover {
    background: #806362; }

#searchType label {
  margin: 5px 10px 0 5px; }

/*
 * Tables
 * --------------------------------------------------
 */
table {
  width: 100%;
  margin-bottom: 2em; }
  table a {
    text-decoration: underline; }
  table tr.row-odd {
    background-color: #efefef; }
  table thead {
    background: #f3f4ed;
    border-bottom: 2px solid #ADB17D;
    font-size: 1.1em;
    color: #525252; }
    table thead .row-header {
      background-color: #fff;
      font-size: 1.2em;
      color: #898d55;
      padding-bottom: 0.75em !important; }
    table thead th {
      font-size: 0.9em;
      padding: 0.5em;
      padding-bottom: 0;
      font-weight: 400; }
      @media (max-width: 34em) {
        table thead th {
          display: none; } }
  table tbody {
    border: 1px solid #eee;
    padding: 0.5em; }
    table tbody tr {
      vertical-align: top; }
      table tbody tr:last-child {
        border-bottom: 1px solid #ADB17D; }
    table tbody td {
      padding: 0.05em; }
      table tbody td.library-account {
        font-size: 0.9em;
        font-style: italic; }
      @media (min-width: 48em) {
        table tbody td {
          padding: 0.5em; } }
  @media (max-width: 34em) {
    table {
      display: inline-block;
      width: inherit;
      padding: 0.5em;
      margin-top: 15px;
      display: block;
      width: 100%; }
      table thead, table tr, table th, table td {
        display: block;
        text-align: left;
        white-space: normal; }
      table thead tr {
        padding: 0; }
      table tr {
        border-bottom: 1px solid #eee;
        padding: 1em 0.5em; }
      table td {
        border: none;
        padding: 0em;
        margin-bottom: 6px;
        color: #444; }
        table td:first-child {
          font-size: 1.1em;
          font-weight: bold;
          margin-bottom: 6px;
          color: #333; }
        table td:before {
          content: attr(data-title) ": ";
          font-family: ProximaNova-Light; }
        table td:empty {
          display: none; } }

/*
 * Forms
 * --------------------------------------------------
 */
form.ill-request {
  background: #f3f4ed;
  border-radius: 8px; }
  form.ill-request section {
    padding: 1em; }
    form.ill-request section.additional-info {
      padding: 1em 1.5em; }
      form.ill-request section.additional-info ul {
        margin-bottom: 1em; }
        form.ill-request section.additional-info ul li {
          margin-bottom: 0.25em; }
  form.ill-request h2 {
    font-size: 1.4em;
    margin: 0.25em 0 0.75em 0;
    color: #6a6d41; }

section + section {
  border-top: 2px solid #fff; }

p.required {
  margin: 0.5em 0 1em 1em; }

abbr[title=required] {
  color: #FF3399;
  cursor: unset;
  font-size: 1.3em;
  margin-left: 0.25em;
  border-bottom: none;
  text-decoration: none; }

.submit-suggestion {
  float: right;
  padding-right: 1em; }

.f-submit-wrap button {
  margin: 1em 3em 2em; }

.btn-primary {
  background: #800000;
  border-color: #800000;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
  .btn-primary:hover {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    background: #670000;
    border-color: #800000; }

.btn-link {
  color: #767676; }

.legend {
  font-size: 0.8em !important;
  border-bottom: none !important; }

/*# sourceMappingURL=ill.css.map */
