<log4net>
  <!-- Set root logger level to DEBUG and its only appender to A1 -->
  <root>
    <level value="INFO" />
    <appender-ref ref="RollingFile" />
  </root>

  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="C:\ILLiad\Logs\WebCirculation.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>