/*
LEGAL
=====
Copyright © 2011 Atlas Systems, Inc. http://www.atlas-sys.com
*/


/* import core styles */
@import url("core.css");


#leftContent
{ 
  width: 240px;
}

#rightContent
{
  display: none;
}

#mainContent
{    
	margin-top: .3em;
	margin-bottom: .3em;
	margin-right: .3em;
	margin-left: 250px;
}
