BODY {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica
}
.font1 {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica
}
.font2 {
	FONT-SIZE: 8pt; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica
}
.listboxnn {
	FONT-SIZE: 9pt; FONT-FAMILY: 'MS Sans Serif'
}
.listboxie {
	FONT-SIZE: 9pt
}
.showme {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #8c0f30; FONT-FAMILY: Arial, Helvetica
}
.tip {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica
}
.textbox {
	FONT-FAMILY: monospace
}
.listboxseparator {
	COLOR: #444444; BACKGROUND-COLOR: #eeeeee
}
.font3 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica
}
.font3b {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000080; FONT-FAMILY: Arial, Helvetica
}
.functionname {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #862b3d; FONT-STYLE: italic
}
.functionname_b {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #00088c; FONT-STYLE: italic
}
.default {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica
; color: #FFFFFF
}
.hidden {
	DISPLAY: none
}
.directions {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetiva, sans-serif
}
.thead {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica
}
TD.menubar {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000044; TEXT-DECORATION: none
}
A.menubar:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #862b3d; TEXT-DECORATION: none
}
A.menubar:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #862b3d; TEXT-DECORATION: none
}
A.menubar:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #FFFFFF
; text-decoration: none
}
.gray {
	BACKGROUND-COLOR: #5c789d
}
A:hover {
	BACKGROUND-COLOR: #ffffc0
}
TD.header {
	VERTICAL-ALIGN: bottom; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center
}
.econtitle {
	FONT-SIZE: 16pt; FONT-FAMILY: Arial, Helvetica
}
.bc_disabled {
	COLOR: #888888
}
