<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script" />
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="glogon.html" />
                <add value=" default.asp" />
                <add value=" default.html" />
                <add value=" index.html" />
                <add value=" default.shtml" />
            </files>
        </defaultDocument>
        <httpErrors>
            <clear />
        </httpErrors>
    </system.webServer>
</configuration>
