/*
LEGAL
=====
Copyright © 2011 Atlas Systems, Inc. http://www.atlas-sys.com
*/


/* import core styles */
@import url("core.css");


#left  
{ 
  display: none;
}

#right
{
  display: none;
}

#main 
{
  margin-left: 0;
  margin-right: 0;
}

#mainContent 
{ 
  margin: 1px;
  padding: 1px;
}
