<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <section name="AtlasSystems.WebModules.UChicago.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <applicationSettings>
    <AtlasSystems.WebModules.UChicago.Properties.Settings>
    <setting name="CacheMinutes" serializeAs="String">
    <value>120</value>
    </setting>
	<setting name="REG" serializeAs="String">
               <value>ILL</value>
               </setting>
    <setting name="HeaderMappings" serializeAs="String">
    <value>HTTP_BARCODE=SSN||HTTP_givenName=FirstName||HTTP_sn=LastName||HTTP_unscopedaffiliation=Status||HTTP_ucDepartment=Department</value>
    </setting>
    </AtlasSystems.WebModules.UChicago.Properties.Settings>
    <log4net>
    <root>
    <level value="DEBUG"/>
    <appender-ref ref="RemoteAuthImportModule"/>
    </root>
    <appender name="RemoteAuthImportModule" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\\ILLiad\\Logs\\RemoteAuthImportModule.log"/>
    <param name="AppendToFile" value="true"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true" />
    <preserveLogFileNameExtension value="true" />
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="3MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
    <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
    </layout>
    </appender>
    <logger name="RemoteAuthImportModule">
    <level value="DEBUG"/>
    </logger>
    </log4net>
    </applicationSettings>
    <system.webServer>
        <handlers accessPolicy="Read, Write, Execute, Script" />
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="illiad.dll" />
                <add value="Logon.html" />
            </files>
        </defaultDocument>
        <httpErrors>
            <clear />
            <error statusCode="403" subStatusCode="4" path="https://requests.lib.uchicago.edu/illiad/" responseMode="Redirect" />
        </httpErrors>
		<modules>
    <add name="RemoteAuthImportModule" type="AtlasSystems.WebModules.UChicago.RemoteAuthImportModule" />
		</modules>
    </system.webServer>
</configuration>
