/*
 * Colors
 * --------------------------------------------------
 */

$main: #800000;
$accent: #670000;
$darkaccent: #806362;
$mid-dark: #525252;
$darkgray: #767676;
$pop-accent: #0F425C;
$pop-accent-light: #eff4f6;
$hover: #47B5FF;


/*
 * Global
 * --------------------------------------------------
 */


.visually-hidden { // For ADA helper text
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  font-size: 14px;
}

.alertSystem {
  color: #fff;
  background-color: #9A5324;
  padding: 0 20px 5px 20px;
  & p {
    color: #fff;
  }
  & h4 {
    color: #eee;
    font-weight: 600;
  }
  & a {
    color: #eee;
    font-weight: 200;
    text-decoration: underline;
  }
}


/*
 * Fonts
 * --------------------------------------------------
 */

h1 {
  color: #642822;
	font-size: 1.5em;
  font-weight: 100;
	margin-bottom: 0.5em;
	line-height: 1em;
  & + h2 {
    margin: -0.5em 0 0 0;
  }
}

h2 {
  color: #000;
  font-size: 1.5em;
	margin-top: 0.5em;
}

h3, .h3 {
  color: $pop-accent;
	border-bottom: 1px solid $pop-accent;
	margin-top: 0.5em;
}

h4 {
  color: $darkgray;
  margin-bottom: 0;
}


/*
 * Left Sidebar
 * --------------------------------------------------
 */

#utility {
  left: 0;
  width: auto;
}

#nav-secondary {
  font-size: 1.1em;
	border-top: none;
	color: #fff;
  padding: 0.5em 1em;
	background-color: $darkgray;
	border-radius: 0;
  h4 {
    margin-top: 1em;
    font-size: 1em;
    color: #eee;
    font-weight: 100;
    line-height: 1em;
    letter-spacing: normal;
    border-bottom: 1px solid #eee;
  }
  li {
    line-height: 2em;
    padding-left: 0;
    a, .mode-switch {
      color: #fff;
      &:hover {
        color: $hover;
        text-decoration: underline;
      }
    }
  }
}

#type-b #content-wrap {
  background: none; // Get rid of border between sidebar and main content
}


/*
 * Main Content
 * --------------------------------------------------
 */

 #type-c #content {
  margin: 0 5% 0 235px;
}

.instructor {
  margin-bottom: 2.25em;
}

//Reserve Items
.tagCloud {
	color: #fff;
  background-color: #007bff;
  display: inline-block;
  padding: .25em .4em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  a, .tagCount {
  	color: #fff;
  }
}

.copyright {
  margin-bottom: 1em;
  p {
    font-size: 0.9em;
  }
}


/*
 * Tables
 * --------------------------------------------------
 */

div.level1 {
  & > div:nth-of-type(4n-3) { // Zebra striping workaround for the nested divs that create the "table"
    background-color: $pop-accent-light;
  }
  & > div:last-child {
    border-bottom: 2px solid $pop-accent;
  }
}

.student-table table, .instructor-table table {
  border: none;
  a {
    text-decoration: underline;
    color: #069;
  }
  tbody tr.row-odd { // Zebra striping using Atlas's classes
    background-color: $pop-accent-light;
  }
}

.instructor-table thead tr, .student-table thead tr, .tableViewNotifications table thead tr { // Needs to be separated out to override Ares styling
  background: #fff;
  color: $darkgray;
}

.instructor-table thead th a, .instructor-table-nohover thead th a { // Needs to be separated out to override Ares styling
  color: $darkgray;
  text-decoration: none;
  &:after {
    font-family: FontAwesome;
    content: "\f0dc";
    color: lighten($darkgray, 25%);
    margin-left: 0.5em;
  }
}

.instructor-table tbody td, th, .student-table tbody td, th { // Needs to be separated out to override Ares styling
  border-left: none;
}

.tableViewNotifications table {
  thead tr.row-headings {
    border-bottom: 1px solid #000066;
  }
  tbody {
    border-bottom: 2px solid #0F425C;
  }
}

table {
  caption {
    color: $pop-accent;
    background: transparent;
    font-size: 126%; // matching main.css font size
    border-bottom: none;
    margin: 0.75em 0;
  }
  tbody {
    border-bottom: 2px solid $pop-accent;
    tr.row-message td {
      padding: 2em;
      font-size: 1.2em;
      text-align: center;
      font-style: italic;
    }
  }
}

/*
 * Forms
 * --------------------------------------------------
 */

span.edit-link a {
  color: #069;
  text-decoration: underline;
}

form.f-wrap-request {
  background: $pop-accent-light;
  border-radius: 8px;
  section {
    padding: 1em;
    &.additional-info {
      padding: 1em 1.5em;
      ul {
        margin-bottom: 1em;
        li {
          margin-bottom: 0.25em;
        }
      }
    }
  }
  h2 {
    margin: 0.25em 0 0.75em 0;
    color: $pop-accent;
  }
}

form#ImportItems {
  background-color: transparent;
}

section + section {
  border-top: 2px solid #fff;
}

p.required {
  margin: 0.5em 0 1em 1em;
}

abbr[title=required] {
  color: #FF3399;
  cursor: unset;
  font-size: 1.3em;
  margin-left: 0.25em;
  border-bottom: none;
  text-decoration: none;
}

.submit-suggestion {
  float: right;
  padding-right: 1em;
}

.f-submit-wrap button {
  margin: 1em 3em 2em;
}

.btn-primary {
    background: $main;
    border-color: $main;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    &:hover {
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      background: darken($main, 5%);
      border-color: $main;
  }
}

.btn-link {
  color: $darkgray;
}

legend {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: none !important;
  margin-bottom: 0.5em;
}

.form-group caption {
  font-size: 1.3rem;
  font-color: $darkgray;
  letter-spacing: normal;
}

input[type="radio"] + label {
  font-size: 1.3rem;
  font-weight: normal;
  margin-left: 0.5em;
  display: inline;
  line-height: 2em;
}

small {
  display: block;
}

.text-addition {
  margin: -1em 0 0 3em;
  width: 80%;
}

#PickupLocation, #LoanPeriod { //Workaround to add .form-control to these auto-generated drop-downs in IRFBook.html
  display: block;
  width: 100%;
  font-weight: 100;
  height: 34px;
  padding: 6px 12px;
  margin-left: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.import-section {
  background: $pop-accent-light;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
  .col-sm-6 + .col-sm-6 {
    border-left: 2px solid #fff;
  }
  span {
    display: block;
  }
}


/*
 * Footer
 * --------------------------------------------------
 */

#footer {
  img {
    max-height: 40px;
    padding: 0 1em;
    vertical-align: top;
  }
  .library-logo {
    border-left: 1px solid $darkgray;
  }
}





